<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <!-- <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li> -->
          <li><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Lisensi Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://www.instagram.com/islampediaid/" title="Islampedia Instagram">Instagram</a></li>
          <li><a href="https://twitter.com/islampediadotid" title="Islampedia Twitter">Twitter</a></li>
          <li><a href="http://feeds.feedburner.com/islampediadotid" title="Islampedia RSS">RSS</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <!-- <p>{{ site.description }}</p> -->
        {% include search.html %}
      </div>

    </div>

  </div>

</footer>
