<div class="pagination">
  <div class="previous">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}">&laquo; Sebelumnya</a>
    {% else %}
      <span>&laquo; Sebelumnya</span>
    {% endif %}
  </div>

  <div class="center">
    <span class="page_number">{{ paginator.page }} dari {{ paginator.total_pages }}</span>
  </div>

  <div class="next">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}">Selanjutnya &raquo;</a>
    {% else %}
      <span>Selanjutnya &raquo;</span>
    {% endif %}
  </div>
</div>
